{%extends "tagging.html"%}

{%block work_title%}
<h3 class="m-3">
    Langhuan 🏷 : NER task
</h3>
{%endblock%}

{%block tail_js%}
{{super()}}
<script>
    var color_ct = 0

    var option_list = [];
    for(var i in options){
        if(color_ct>=flavors.length){color_ct==0}
        option_list.push({label:options[i], flavor:flavors[color_ct]})
        color_ct+=1
    }

    class NERBlock{
        constructor(d){
            this.node = document.createElement("span")
            this.node.className=`bg-${d.flavor} text-white p-2`
            var node = this.node
            this.node.addEventListener("click", ()=>{
                node.remove()
            })
        }
        
        get_node = () =>{
            return this.node
        }
    }

    const tag_NER = (e, d) => {
        var selected = window.getSelection()
        console.log(selected)
        var {anchorOffset, focusOffset} = selected
        console.log({anchorOffset, focusOffset})
        var range = selected.getRangeAt(0)
        var ner_block = new NERBlock(d)
        range.surroundContents(ner_block.get_node())
    }

    const visualize_options = (options) => {
        d3.select("#label_pool").selectAll("span")
        .data(options)
        .enter().append("span")
        .style("border-radius", "3px")
        .attr("class",(d)=>{
            return `bg-${d.flavor} text-white pt-1 pb-2 pl-3 pr-3 m-1`
        })
        .text((d)=>{return d.label})
        .on('mousedown', function(e){ e.preventDefault(); })
        .on("click", tag_NER)
    }

    visualize_options(option_list)
</script>
{%endblock%}